label{
    display: block;
}
.tool-bar{
    border: 1px solid;
}
.options-bar{
    border: 1px solid;
    border-top: none;
}
.side-bar{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
}
.side-bar > div{
    padding: 10px;
}

.todo{
    color: #777;;
}
.todo:before{
    content: '(todo)';
    font-size: .6em;
}
.background-canvas{
    background: url("public/background-image.jpg")
}
canvas{
    border: 5px solid black;
    margin: 20px;
}